body {
  background: #cdcdcd;
}

h1 {
  text-align: center;
  color: green;
  padding: 30px;
}

.rasArde {
  color: #3e666c;
  font-size: 30px;
}

.rasRosi {
  color: #3e666c;
  font-size: 30px;
}

.rasVine {
  color: #3e666c;
  font-size: 30px;
}

.rosii {
  color: blue;
  list-style: none;
}

.ardei {
  color: blueviolet;
  list-style: none;
}

.vinete {
  color: brown;
  list-style: none;
  
}



.poza1 {
  display: block;
  margin: 0 auto;
}


.poza3 {
  position: relative;
  top:-500px;
  left:400px;
  size: 250px;}

  .oferta{
    color: #4DC274;
  }
  .poza5 {
  position: relative;
  top:-90px;
  left:110px;
  size: 250px;}

  .footer{
    color: blue;
    text-decoration: double;
    top:-500px;
  }